@media screen and (min-width: 1200px) {
    .divPage {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    }
  
    .formImg {
      width: 40%;
    }
    .form {
      width: 1500px;
      background-color: #debebf;
      padding: 20px;
      display: flex;
      flex-direction: column;
      border: 40px solid #fff;
    }
  
    .title {
      display: flex;
      justify-content: center;
    }
  
    .form label {
      padding-top: 30px;
    }
  
    .form input {
      padding: 12px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    .form button {
      text-decoration: none;
      /* margin-top: 30px; */
      margin-left: 30px;
      display: flex;
      align-items:center;
      justify-content: center;
      border-radius: 4px;
      width: 150px;
      height: 40px;
      background-color: #e64b32;
      transition: opacity 200ms ease, all 300ms ease;
      font-family: Poppins, sans-serif;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0px;
      border: none;
      
    }
    
    
} 