.clientList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.creditAndCompensate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

article{
    padding: 0 40px 0 40px;
}

.compensateOrganizer{
    display: flex;
    flex-direction: column;
}