@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@100;200;300;500&display=swap');

.clientList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Poppins, sans-serif;
    padding: 20px;
    padding-left: 50px;
}

.creditAndCompensate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

form{
    padding: 0 70px 0 70px;
}

.compensateOrganizer{
    display: flex;
    flex-direction: column;
    
}

.signupbutton {
    text-decoration: none;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    background-color: #e64b32;
    transition: opacity 200ms ease, all 300ms ease;
    font-family: Poppins, sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
    border: none;
    justify-content:center
  }
  

  
.faqitem {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: #fff;
    width: 1500px;
  }



  .faqbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
  }

  .sectionfaq {
    padding-top: 50px;
    padding-bottom: 50px;
    border-left: 40px solid #fff;
    border-right: 40px solid #fff;
    background-color: #debebf;
    font-family: Poppins, sans-serif;
  }
  
  .title {
    color: #0c2638;
    margin-top: 0px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    margin-left: 50px;
    display: flex;
  
    align-items: left;
  }